/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header .job-title {
    font-size: 18px;
    font-style: italic;
}

/* Intro Bereich */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.intro p {
    max-width: 800px;
    margin: 0;
}

/* Berufserfahrung */
.experience {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.experience h2 {
    font-size: 24px;
}

.experience ul {
    list-style: none;
    padding: 0;
}

.experience li {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Hobbys */
.hobbies {
    padding: 20px;
    text-align: center;
}

.hobbies h2 {
    font-size: 24px;
}

.hobbies p {
    font-size: 16px;
}

/* Links */
.links {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}

.links h2 {
    font-size: 24px;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links li {
    margin: 10px 0;
}

.links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

.links a:hover {
    color: #007bff;
}

/* Footer */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

